body {
  background: rgb(0, 118, 182);
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.container {
  padding-top: 1em;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.card {
  border: 0.25em solid rgb(0, 175, 239);
  border-radius: 1em;
  background: #fff;
  transition: all 0.3s ease;
  text-align: left;
  color: black;
  -webkit-text-stroke: 1px rgb(0, 118, 182);
  padding: 1em 1.5em;
  width: 100%;
}

.card .v-card-text em {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: visible;
}
