body {
  margin: 0;
  padding: 0;
  background: rgb(0, 118, 182);
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  font-weight: bold;
}

.card {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 4px;
  background: #fff;
  transition: all 0.3s ease;
  flex: 1 1 calc(33.33% - 16px);
  min-width: 200px;
  box-sizing: border-box;
}

/* Highlighted card */
.card.highlighted {
  border: 4px solid blue;
  background: blue;
  color: white;
  z-index: 10;
}

/* Faded cards */
.card.faded {
  opacity: 0.5;
}
